<h1 id="-">Сервис динамического сегментирования пользователей</h1>
<h2 id="-">Проблема</h2>
<p>В Авито часто проводятся различные эксперименты — тесты новых продуктов, тесты интерфейса, скидочные и многие другие.
На архитектурном комитете приняли решение централизовать работу с проводимыми экспериментами и вынести этот функционал в отдельный сервис.</p>
<h2 id="-">Задача</h2>
<p>Требуется реализовать сервис, хранящий пользователя и сегменты, в которых он состоит (создание, изменение, удаление сегментов, а также добавление и удаление пользователей в сегмент)</p>
<h2 id="-">Запуск приложения</h2>
<pre><code>make <span class="hljs-keyword">run</span><span class="bash"></span>
</code></pre><p>Если приложение запускается впервые, то необходимо применить миграции к базе данных:</p>
<pre><code><span class="hljs-keyword">make</span> migrate-<span class="hljs-keyword">up</span>
</code></pre><h2 id="-">Описание методов</h2>
<h3 id="-">Регистрация пользователя</h3>
<p>Пример запроса:</p>
<pre><code>curl -X POST -H <span class="hljs-string">"Content-Type: application/json"</span> 
    -d <span class="hljs-string">'{"</span>username<span class="hljs-string">": "</span>denchika<span class="hljs-string">", "</span>password<span class="hljs-string">": "</span>abobus123<span class="hljs-string">"}'</span> 
    http:<span class="hljs-comment">//localhost:8080/auth/sign-up</span>
</code></pre><p>Пример ответа:</p>
<pre><code class="lang-json">{
  <span class="hljs-attr">"status"</span>: <span class="hljs-number">200</span>
}
</code></pre>
<h3 id="-">Аутентификация пользователя</h3>
<p>Пример запроса:</p>
<pre><code>curl -X GET -H <span class="hljs-string">"Content-Type: application/json"</span> 
    -d '{<span class="hljs-string">"username"</span>: <span class="hljs-string">"denchika"</span>, <span class="hljs-string">"password"</span>: <span class="hljs-string">"abobus123"</span>}' 
    http://localhost:<span class="hljs-number">8080</span>/auth/<span class="hljs-built_in">sign</span>-<span class="hljs-keyword">in</span>
</code></pre><p>Пример ответа:</p>
<pre><code class="lang-json">{
  <span class="hljs-attr">"Token"</span>: <span class="hljs-string">"Your access-token"</span>
}
</code></pre>
<h3 id="-">Добавление сегмента</h3>
<p>Пример запроса:</p>
<pre><code>curl -X POST -H "Content-Type: application/json"
    -<span class="ruby">H <span class="hljs-string">"Authorization: Bearer `Your token`
</span></span>    -<span class="ruby"><span class="hljs-string">d '{"</span>slug<span class="hljs-string">": "</span>ABOBA<span class="hljs-string">"}'
</span></span>    http://localhost:8080/segment/
</code></pre><p>Пример ответа:</p>
<pre><code class="lang-json">{
  <span class="hljs-attr">"Id"</span>: <span class="hljs-number">1</span>
}
</code></pre>
<h3 id="-">Удаление сегмента</h3>
<p>Пример запроса:</p>
<pre><code>curl -X DELETE -H "Content-Type: application/json"
    -<span class="ruby">H <span class="hljs-string">"Authorization: Bearer `Your token`
</span></span>    -<span class="ruby"><span class="hljs-string">d '{"</span>slug<span class="hljs-string">": "</span>ABOBA<span class="hljs-string">"}'
</span></span>    http://localhost:8080/segment/
</code></pre><p>Пример ответа:</p>
<pre><code class="lang-json">{
  <span class="hljs-attr">"status"</span>: <span class="hljs-number">200</span>
}
</code></pre>
<h3 id="-">Добавление и удаление сегментов для пользователя</h3>
<p>Пример запроса:</p>
<pre><code>curl -X POST -H "Content-Type: application/json"
    -<span class="ruby">H <span class="hljs-string">"Authorization: Bearer `Your token`
</span></span>    -<span class="ruby"><span class="hljs-string">d '{"</span>slugs-to-add<span class="hljs-string">": ["</span>ABOBA<span class="hljs-string">"], "</span>slugs-to-remove<span class="hljs-string">": []}'
</span></span>    http://localhost:8080/users-segments/
</code></pre><p>Пример ответа:</p>
<pre><code class="lang-json">{
  <span class="hljs-attr">"slugs-that-have-been-added"</span>: [
    <span class="hljs-string">"ABOBA"</span>
  ],
  <span class="hljs-attr">"slugs-that-have-been-removed"</span>: <span class="hljs-literal">null</span>
}
</code></pre>
<h3 id="-">Получение сегментов пользователя</h3>
<p>Пример запроса:</p>
<pre><code>curl -X GET -H <span class="hljs-string">"Content-Type: application/json"</span>
    -H <span class="hljs-string">"Authorization: Bearer `Your token`</span>
    http:<span class="hljs-comment">//localhost:8080/users-segments/</span>
</code></pre><p>Пример ответа:</p>
<pre><code class="lang-json">{
  <span class="hljs-attr">"slugs"</span>: [<span class="hljs-string">"ABOBA"</span>]
}
</code></pre>
<h2 id="swagger">Swagger</h2>
<p>Swagger файл описан в директории <a href="docs">docs</a></p>
<p>При работающем приложении можно посмотреть <a href="http://localhost:8080/swagger/index.html">здесь</a></p>
